{% extends 'store/layouts/main.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="">
                    <div class="card mt-3 shadow">
                        <div class="card-body">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="text-center">
                                    <h4>Change password</h4>
                                </div>
                                <hr>
                                <div class="form-outline mb-4">
                                    <label for="">Old Password</label>
                                    <input type="password"
                                           class="form-control"
                                           placeholder="Enter Password"
                                           name="old_password"
                                           required="true">
                                </div>
                                <div class="form-outline mb-4">
                                    <label for="">New Password</label>
                                    <input type="password"
                                           class="form-control"
                                           placeholder="New Password"
                                           name="new_password1"
                                           required="true">
                                </div>
                                <div class="form-outline mb-4">
                                    <label for="">Confirm password</label>
                                    <input type="password"
                                           class="form-control token"
                                           placeholder="Confirm Password"
                                           name="new_password2"
                                           required="true">
                                </div>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <p style="color: red">
                                            {{ error }}
                                        </p>
                                    {% endfor %}
                                {% endfor %}
                                <button type="submit" class="btn btn-success btn-block form-control">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
