.checkoutform label{

    font-size: 14px !important;
    font-weight: 600;
}
.checkoutform input{

    font-size: 13px !important;
    font-weight: 200;
}
.search-bar{
    width:45% !important;
    margin-left: 10%;
}
