{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password Form</title>
        {% comment %} bootstrap {% endcomment %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
              <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
              <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
              <style>.error{color:red;}</style>
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="">
                        <div class="card mt-3 shadow">
                            <div class="card-body">
                                <form action="" method="POST" id="passwordForm">
                                    {% csrf_token %}
                                    <div class="text-center">
                                        <h4>Password Form</h4>
                                    </div>
                                    <hr>
                                    <div class="form-outline mb-4">
                                        <label for="">Password</label>
                                        <input type="password"
                                               class="form-control"
                                               placeholder="Enter Password"
                                               name="passfield1"
                                               id="passwordField"
                                               required>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label for="">Confirm Password</label>
                                        <input type="password"
                                               class="form-control "
                                               placeholder="Confirm Password"
                                               name="passfield2"
                                               id="ConfirmPasswordField"
                                               required>
                                    </div>
                                    <div class="form-outline mb-4" hidden>
                                        <label for="">Token</label>
                                        <input type="text"
                                               class="form-control token"
                                               disabled value = "{{token}}">
                                    </div>
                                    <div class="form-outline mb-4" hidden>
                                        <label for="">UIDB64</label>
                                        <input type="text"
                                               class="form-control uidb64"
                                               disabled value = "{{uidb64}}">
                                    </div>
                                    <a href="/"><button type="submit" class="btn btn-success btn-block form-control">Submit</button></a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
        <script src = "/static/js/passwordValidation.js"></script>
        <script>
            alertify.set('notifier','position', 'top-right');
        </script>
    </body>
</html>
